* {
    box-sizing: border-box;
}


body{
    background: linear-gradient(150deg, #111, #fff);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    
}


.logo_text_sign{
    max-width: auto;
    height: 72px;
}

ul.main_menu{
    float: right;
    margin-right: 400px;
}

ul.main_menu li{
    list-style: none;
    float: left;
    padding: 0 0 0 9px;
    margin: 1px 2px 0px 0px;
  }

ul.main_menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font: normal 100%;
    display: block;
    height: 30px;
    padding: 6px 35px 5px 28px;
}
ul.main_menu li a:hover{
    color: #aeb002;
}


.logo_text_sign img {
    margin-left: 400px;
    width: 150px;
    height: 150px;
    
}

.Logo_text{
    text-align: center;
    padding-bottom: 70px;
    padding-top: 150px;
}

.text{
    margin-top: 100px;
}

.text h1{
    font-size: 80px;
    color: #fff;
}

.c-button {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    font-size: 20px;
    padding: 1em 5em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
  } 
  .c-button:active {
    top: 1px;
    box-shadow: none;
  }
  .c-button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
  }

  .errors{
      color: red;
  }