{% extends 'notes/base.html' %}

{% block content %}

{{ todo.title }}

<div class="main_conteiner_create">
    <article class="main_content_views">
      <div class="block_create">
        <div class="block__item_create block-item">
          <h1 class="block-item__title_create">Изменение заметки</h1>
        </div>
        <div class="form-box_create">
          <form method="POST" class="form_create form_signin_create">
            <h3 class="form__title_create">Введите поля</h3>
  
            <p>
              <input
                name="title"
                required=""
                class="form__input"
                id="id_title"
                maxlength="50"
                placeholder="Заголовок"
              />
            </p>
            <p>
              <textarea
                name="description"
                class="form__input"
                id="id_description"
                cols="40"
                rows="10"
                placeholder="Описание"
              ></textarea>
            </p>
            <p>
              Важно
              <input type="checkbox" id="id_important" name="important">
            </p>
            <p>
            {% csrf_token %}
            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="form__btn">Сохранить</button>
            </form>
            </p>
            <p>
                <form method="POST" action="{% url 'deleted' todo.id %}">                  
                    {% csrf_token %}
                    <button type="submit" class="form__btn">Удалить</button>
                </form>
            </p>
            <p>
                <form method="POST" action="{% url 'completed' todo.id %}">
                    {% csrf_token %}
                    <button type="submit" class="form__btn">Выполнить</button>
                </form>
            </p>
          </form>
        </div>
      </div>
    </article>
  </div>


{% endblock %}

